@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B1F3B;
  color: #F3EFE6;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
